/// Layout system
//

@mixin container() {
	margin: 0 auto;
	padding: $grid-column-gutter;
	width: 100%;
}

@mixin item() {
	flex-basis: auto;
	padding: $grid-column-gutter;
	margin: $spacer auto;
}

@mixin row() {
	display: flex;
		flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
}

