//
//Display utils

.display-none         { display: none !important; }
.display-inline       { display: inline !important; }
.display-inline-block { display: inline-block !important; }
.display-block        { display: block !important; }
.display-flex         { display: flex !important; }
.display-inline-flex  { display: inline-flex !important; }



//
// Utilities for toggling `display` in print
//

.display-print-block {
  display: none !important;

  @media print {
    display: block !important;
  }
}

.display-print-inline {
  display: none !important;

  @media print {
    display: inline !important;
  }
}

.display-print-inline-block {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

.display-print-none {
  @media print {
    display: none !important;
  }
}

.display-mobile-only {
  display: none;
}

@media screen and (min-width: 620px) {
  .display-mobile-only {
    display: inherit;
  }
}
