//
//Padding and Margin

@each $prop, $abbrev in (margin: margin, padding: padding) {
  @each $size, $length in $spacers {

    .#{$abbrev}-#{$size}  { #{$prop}:        $length !important; }
    .#{$abbrev}-top-#{$size} { #{$prop}-top:    $length !important; }
    .#{$abbrev}-right-#{$size} { #{$prop}-right:  $length !important; }
    .#{$abbrev}-bottom-#{$size} { #{$prop}-bottom: $length !important; }
    .#{$abbrev}-left-#{$size} { #{$prop}-left:   $length !important; }
    .#{$abbrev}-x-#{$size} {
      #{$prop}-right: $length !important;
      #{$prop}-left:  $length !important;
    }
    .#{$abbrev}-y-#{$size} {
      #{$prop}-top:    $length !important;
      #{$prop}-bottom: $length !important;
    }

    // Some special margin utils
    .margin-auto  { margin:        auto !important; }
    .margin-top-auto { margin-top:    auto !important; }
    .margin-right-auto { margin-right:  auto !important; }
    .margin-bottom-auto { margin-bottom: auto !important; }
    .margin-left-auto { margin-left:   auto !important; }
    .margin-x-auto {
      margin-right: auto !important;
      margin-left:  auto !important;
    }
    .margin-y-auto {
      margin-top:    auto !important;
      margin-bottom: auto !important;
    }
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
