// Variables
@import "variables";

// Crutch
@import "crutch";

// Logo font
@import url('https://fonts.googleapis.com/css?family=Lemon');

a {
  text-decoration: underline;
}

details summary {
  background: map-get($theme, attention);
  border: 2px solid rgba(0, 0, 0, 0.0);
  border-radius: 5px;
  color: #fff;
  list-style: none;
  padding: 1em;
}

details summary:hover {
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

footer {
  bottom: 10;
  position: sticky;
}

.back-arrow {
  position: sticky;
  top: 0px;
  z-index: 2;
}

.bg-lighterDark {
  background: lighten(map-get($theme, dark), 7%);
}

.border-color-grey {
  border-color: lighten(map-get($theme, dark), 13%) !important;
}

.happy-hour-cards-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.happy-hour-cards-container::-webkit-scrollbar {
  display: none;
}

.happy-hour-card {
  height: auto;
  margin-right: 1em;
  max-height: 600px;
  min-height: 400px;
  min-width: 310px;
  padding-top: 5px;
  width: 100%;
  overflow-x: scroll;
}

.happy-hour-card p:first-of-type {
  height: 8vh;
}

.happy-hour-card__content {
  width: 100%;
}

.faCircleNotch {
  display: block;
  font-size: 5rem;
  margin: auto;
  margin-top: 15rem;
  position: relative;
}

.input-long {
  max-width: 500px;
}

.happy-hour-map {
  box-shadow: 1px 2px #eee;
  border: 1px solid rgba(0, 0, 0, 0.0);
  border-radius: 4px;
  min-height: 250px;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  z-index: 0;
}

.loading-container {
  background: rgba(0, 0, 0, 0.62);
  height: 100%;
  min-height: 120vh;
  position: absolute;
  top: 0px;
  width: 100%;
}

.map-marker-address {
  max-width: 100px;
}

.navigation-container {
  box-shadow: 0px 0px 6px 1px #666;
  position: sticky;
  top: -1px;
  z-index: 1;
}

.navigation-logo {
  font-family: 'Lemon' !important;
  font-size: 1.6em;
  margin: auto;
  padding-left: 2.83em;
}

.position-static {
  position: static !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

@media only screen and (min-width: 641px) {
  .navigation-logo {
    margin: 0;
    padding-left: 0.5em;
  }

  a {
    font-size: 1.2rem;
  }
}
