// Variables
@import "variables";

// Crutch
@import "crutch";

a {
  text-decoration: underline;
}

.bg-lighterDark {
  background: lighten(map-get($theme, dark), 7%);
}

.border-color-grey {
  border-color: lighten(map-get($theme, dark), 13%) !important;
}

.input-long {
  max-width: 500px;
}
