// Variables
@import "variables";

// Crutch
@import "crutch";

// Logo font
@import url('https://fonts.googleapis.com/css?family=Lemon');

a {
  text-decoration: underline;
}

body {
  font-size: 1.1em;
}

details summary {
  background: map-get($theme, dank);
  border: 2px solid rgba(0, 0, 0, 0.0);
  border-radius: 5px;
  color: #fff;
  list-style: none;
  padding: 1em;
}

details summary:hover {
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

footer {
  bottom: 10;
  position: sticky;
}

.back-to-search {
  display: none;
}

.bg-lighterDark {
  background: lighten(map-get($theme, dark), 7%);
}

.border-color-grey {
  border-color: lighten(map-get($theme, dark), 13%) !important;
}

.bottom-nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.bottom-nav-link {
  min-width: 25%;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

.desktop-only {
  display: none;
}

.happy-hour-cards-container {
  display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  overflow-x: auto;
  padding-top: 1em;
  -webkit-overflow-scrolling: touch;
}

.happy-hour-cards-container::-webkit-scrollbar {
  display: none;
}

.happy-hour-card {
  height: 410px;
  margin-right: 1em;
  min-width: 310px;
  padding-top: 5px;
  width: 100%;
  overflow-x: scroll;
}

.happy-hour-card p:first-of-type {
  height: 8vh;
}

.happy-hour-card__content {
  width: 100%;
}

.faCircleNotch {
  display: block;
  font-size: 5rem;
  margin: auto;
  margin-top: 15rem;
  position: relative;
}

.input-long {
  max-width: 500px;
}

.loading-container {
  background: rgba(0, 0, 0, 0.62);
  bottom: 0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 3;
}

// .nav-expanded {
//   position: fixed;
//   right: 0px;
// }

.navigation-container {
  box-shadow: 0px 0px 6px 1px #666;
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.navigation-logo {
  font-family: 'Lemon' !important;
  font-size: 1.6em;
  margin: auto;
  padding-left: 2.53em;
}

.pigeon-map {
  border: rgba(0, 0, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px #333;
  padding: 1em;
}

.position-static {
  position: static !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

@media only screen and (min-width: 621px) {
  body {
    font-size: .96em;
  }

  .back-to-search {
    display: block;
  }

  .desktop-only {
    display: block;
  }

  .happy-hour-card {
    max-width: 345px;
  }

  .happy-hour-cards-container {
    display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;
      align-items: center;
    height: 100%;
    max-height: 1000px;
    overflow-y: scroll;
  }

  .navigation-logo {
    margin: 0;
    padding-left: 0.5em;
  }
}
